.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
}

input[name='search-text'] {
  padding: 10px;
  width: 200px;
  font-size: 16px;
}

button[type='submit'] {
  background-color: #4e75ff;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 0 40px 40px;
  margin: 0 auto;
  max-width: 1200px;
}

.gallery-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.02);
}

.gallery-link img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px 12px;
  font-size: 14px;
  color: #333;
  flex-wrap: wrap;
}

.info p {
  margin: 4px 0;
  white-space: nowrap;
}

/* -------------------------------------------------------------------- */
.load-more {
  display: block;
  margin: 20px auto;
  background-color: #10b981;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #059669;
}

.hidden {
  display: none !important;
}
/* -------------------------------------------------------------------- */

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
